ansicon==1.89.0
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.0
opencv-python==4.10.0.84
pure-eval==0.2.2
pyreadline3==3.4.1
pytz==2024.1
pywin32==306
watchdog==4.0.1
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.0.3
wget==3.2
xmod==1.8.1
zipp==3.19.2
